@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

body, div.document, div.documentwrapper, div.bodywrapper {
    width: 95vw;
    height: 95vh;
    top: 0;
    margin: 0px;
    background-color: rgb(52, 52, 52);
}

div.body {
    background-color: rgb(52, 52, 52);
    margin-left: 34%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 100vh;
    max-width: 1000px;
}

@media (max-width: 875px) {
    body {
        padding: 0px;
        margin: 2%;
    }
    div.body {
        position: center;
        margin: auto;
    }
}

div.footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    text-align: right;
    bottom: 0;
    background-color: #222;
}

div.body > .section {
    text-align: left;
    margin-bottom: 7%;
}

div.body > .section > .section {
    margin-left: 0px;
}

div.sphinxsidebar a {
    color: #fff;
}

div.sphinxsidebar {
    font-family: 'Raleway';
    background-color: rgb(20, 20, 20);
    width: 320px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;
    margin-left: 0px;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    font-family: 'Raleway';
    color: #444;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
}

div.sphinxsidebar a:hover {
    border-bottom: 1px solid #999;
    color: #5cd9ff;
}

div.sphinxsidebarwrapper h1.logo {
    margin-top: -30px;
}

div.sphinxsidebarwrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.section {
    font: 300 15px/1.6 'Raleway', serif, sans-serif;
}

.wy-side-nav-search {
    background-color: rgb(27, 27, 27);
}

.wy-nav-content, .wy-nav-content-wrap, .wy-nav-shift, .wy-grid-for-nav {
    background-color: rgb(68, 68, 68);
}

div.highlight pre {
    background-color: rgb(30,30,30);
    border: 1px solid #fff;
}

input {
    border: 1px solid #CCC;
    color: #fff;
    background-color: #222;
    font-family: 'Raleway';
    font-size: 1em;
}

::-webkit-scrollbar {
    width: 9px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
    border-radius: 10px;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

div.body h1, h1, div.body h2, h2, 
div.sphinxsidebar h3, div.body h3, h3,
h4, h5, h6, p, li, li.breadcrumbs-aside, 
a, a.reference.internal, div.footer, 
div.sphinxsidebar h3 a {
    color: #fff;
    font-family: 'Raleway';
}

div.body h1, h1 {
    font-size: 45px;
}



#michael-green-s-blog p {
    font-size: 20px;
}

.rst-content .section ul li {
    margin-bottom: 60px;
    text-align: justify;
}

p {
    font-size: 16px;
    text-align: justify;
}

li p {
    font-size: 16px;
}

span {
    color: #fff;
}

a, a:link, a:visited, span.pre {
    font-size: 16px;
    color: #00e5ff;
    background: transparent;
}

p:link, a.reference.internal {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

p a.reference.internal {
    font-size: 22px;
}

a.reference.internal:hover {
    color: #00e5ff;
}

a.icon.icon-home {
    font-size: 20px;
    color: #C4C4C4;
}

headerlink {
    font-size: 48px;
}

h1 {
    font-size: 48px;
}

.highlight pre span {
    font-size: 16px;
}

.highlight .k, .highlight .kc, .highlight .kn, .highlight .se, .highlight .ow {
    color: rgb(204, 120, 50);
}

.highlight .fm {
    color: rgb(216, 0, 216);
}

.highlight .nb, .highlight .ne, .highlight .nd {
    color: rgb(136, 134, 198);
}

.highlight .bp {
    color: rgb(148, 85, 141);
}

.highlight .mi {
    color: rgb(73, 132, 187);
}

.highlight .nf {
    color: rgb(255, 198, 109);
}

.highlight .c1 {
    color: #949494;
}

.highlight .nc, .highlight .nn, .highlight .n, .highlight .p, .highlight .o, .highlight .sa {
    color: rgb(187,187,187);
}

.highlight .s1, .highlight .sd, .highlight .si, .highlight .s2 {
    color: rgb(165, 194, 97)
}

.code {
    background-color: transparent;
    border: 2px;
    font-size: 14px;
}
